<html>
<head>
<meta name="decorator" content="atl.general"/>
</head>
<body>
	#parse ( "/pages/page-breadcrumbs.vm" )
	
	<table border="0" style="padding-left:150px;">
			<form name="addsketchoform" method="POST" action="create-sketcho.action">
		<tr style='background-color:#ffffe0;' height='25px'><td>
			<p style='padding: 10px;'>
			<b style='color:red;'>Diagram name cannot be empty.</b><br>
			
			Adds a Sketcho macro <b>{sketcho:name=sketch name}</b> to your wiki page. <br>
			You can add Sketcho macros to wiki content straight with above syntax.
			</p>
		</tr></td>
		<tr><td>
			<h2>Enter a sketch name</h2>
		</tr></td>
		<tr><td>
			<table>
				<tr><td>
					<INPUT type="text" name="diagramName" size="50">
				</tr></td>
				<tr>
					<td colspan="2" align="right">
		                #tag ("Submit" "name='confirm'" "value='add.name'" "theme='notable'" )
					</td>
				</tr>
			</table>
		</tr></td>
		</form>
	</table>
</body>
</html>
