<html>
	<head>
		<meta name="decorator" content="atl.admin"/>
		<title>$action.getText("sketcho.config.title")</title>
	</head>
	<body>
        #parse ( "/template/includes/actionmessages.vm" )
		#parse ( "/template/includes/actionerrors.vm" )
		
		Table below shows your current licensing information for Sketcho Confluence plugin.

        <form name="configuration" action="save.action" method="POST">
	        <table class="grid" width="100%">
    	        <tr>
        	        <td valign="top" class="label" bgcolor="#f0f0f0" width="20%">$action.getText("sketcho.config.title.organization"):</td>
                    <td>
                        <input type="text" name="organization" size="80" value="$!action.getLicenseInfo().getOrganization()">
                    </td>
                </tr>
                <tr>
                	<td valign="top" class="label" bgcolor="#f0f0f0" width="20%">$action.getText("sketcho.config.title.datepurchased"):</td>
                	<td>$action.getLicenseInfo().getPurchaseDate()</td>
                </tr>
                <tr>
                	<td valign="top" class="label" bgcolor="#f0f0f0" width="20%">$action.getText("sketcho.config.title.licensetype"):</td>
                	<td>$action.getLicenseInfo().getLicenseType()</td>
                </tr>
                <tr>
                	<td valign="top" class="label" bgcolor="#f0f0f0" width="20%">$action.getText("sketcho.config.title.licensedusers"):</td>
                	<td>
                	#if ($action.getLicenseInfo().getNumberOfEditors() > 0)
                		<b>$action.getLicenseInfo().getNumberOfEditors()</b> ($action.getNumberOfCurrentEditors() defined in sketcho-editors group)
                	#else 
                		Unlimited users.
                	#end
                	</td>
                </tr>
                <tr>
                	<td valign="top" class="label" bgcolor="#f0f0f0" width="20%">$action.getText("sketcho.config.title.supportperiod"):</td>
                	<td>$action.getLicenseInfo().getSupportPeriod().</td>
                </tr>
                <tr>
                	<td valign="top" class="label" bgcolor="#f0f0f0" width="20%">$action.getText("sketcho.config.title.softwareversion"):</td>
                	<td>$action.getLicenseInfo().getSoftwareVersion().</td>
                </tr>
                <tr>
                	<td valign="top" class="label" bgcolor="#f0f0f0" width="20%">$action.getText("sketcho.config.title.releasedate"):</td>
                	<td>$action.getLicenseInfo().getReleaseDate().</td>
                </tr>
                <tr>
        	        <td valign="top" class="label" bgcolor="#f0f0f0" width="20%">$action.getText("sketcho.config.title.license"):</td>
                    <td>
                    	<textarea name="license" rows="10" cols="75">#if ($action.getLicenseInfo().getLicenseKey())$action.getLicenseInfo().getLicenseKey()#else#end</textarea>
                    </td>
                </tr>
                <tr>
                	<td><a href='http://7scales.net/7scalesEula.pdf' target="_blank">End User Agreement</a></td>
                	<td align="left"><input type="submit" value="$action.getText("sketcho.config.button.update")" onclick="forms.configuration.action='configure-sketcho-update.action';"></td>
                </tr>
            </table>
        </form>

		#parse ( "/admin/admin-breadcrumbs.vm" )
	</body>
</html>
