sketcho-confluence/target
**/target
**/.metadata
**/.settings
*.jar
*.class
**/tmp
*.obr
*.zip
**/.svn
**/classes
**/bin
**/.gwt-tmp
/**/.svn
**/deploy
test-macro/test2-macro/target
test-macro/test-macro/target
sketcho-migrate/bin
acegi/src/.svn
acegi/src/docbkx/.svn
acegi/src/site/apt/.svn
acegi/src/site/resources/.svn
acegi/src/site/resources/announcements/.svn
acegi/src/site/resources/css/.svn
acegi/src/site/resources/guide/.svn
acegi/src/site/resources/images/.svn
acegi/src/site/xdoc/.svn
acegi/sandbox/webwork/.svn
sketcho-confluence-editor/war/sketcho_confluence_app
**/gwt-unitCache
sketcho-confluence-editor/war/WEB-INF/deploy

sketcho-confluence-editor/war/tmp/kalapulla.png

sketcho-confluence-editor/sketcho-editor.war

sketcho-confluence-editor/war/WEB-INF/classes/classes/net/sevenscales/domain/Domain.gwt.xml

sketcho-confluence-editor/war/WEB-INF/classes/net/sevenscales/domain/Domain.gwt.xml

target/pom-transformed.xml

sketcho-confluence/src/main/resources/.atlassian-plugin.xml.swp

sketcho-confluence-editor/war/tmp/kalapulla.png

sketcho-confluence-editor/war/tmp/kalapulla.model.xml

hibernate4gwt-domain/.classpath

hibernate4gwt-domain/.project

*.sublime-workspace

sd-editor/src/main/java/net/sevenscales/editor/api/.DS_Store
