/** Add css rules here for your application. */
.modebar {
	height: 100%;
}

.modebar td {
	padding-top: 70px;
	padding-right: 3px;
	padding-left: 3px;
}

.gwt-Button {
	padding: 2px 3px;
	font-size: small;
	cursor: pointer;
	cursor: hand;
	border: 1px outset #ccc;
	white-space: nowrap;
}

.buttonbar td {
	padding-right: 5px;
}

.menuArea {
	
}

.toolbar {
	
}

.UiEditContent {
	
}

.UiContent {
	background-color: #FCFCFC;
	padding: 15px;
	border: #bbb solid 1px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.sd-editor-surface-modeling-area {
	/* 	border: solid grey 1px; #6694e3 */
	
}

textarea {
	background-color: #fff;
	border: 1px solid #bbb;
}

.content-edit-buttons {
	height: 28px;
	padding-left: 0px;
}

.content-edit-buttons td {
	
}

.debug {
	border: 1px solid black;
	text-align: left;
}

.ToolFrame { /*	border-top: solid grey 1px;
	border-right: solid grey 1px;
	border-bottom: solid grey 1px;
	*/
	position: relative;
	height: 100%;
}

.library-selection {
	position: absolute;
	top: 115px;
	left: 75px;
	white-space: nowrap;
	width: 250px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

.ModelingPanel {
	height: 100%;
	z-index: 15;
}

.sd-editor-surface-modeling-area {
	border: solid 1px #bbb;
}

.properties-TextArea {
	height: 100%;
}

.termsofuse {
	padding: 8px 0 10px 0;
	border: #bbb solid 1px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #F7F7F7;
  text-align: center;
}

/** GWT LAYOUT FIXES **/
.properties-TextArea {
	border: none;
}

.gwt-TextArea {
	border: none;
}

.gwt-DecoratorPanel2 {
	
}

.gwt-DecoratorPanel2 .topCenter,.gwt-DecoratorPanel2 .bottomCenter {
	background: url(images/standard/images/hborder.png) repeat-x;
}

.gwt-DecoratorPanel2 .middleLeft,.gwt-DecoratorPanel2 .middleRight {
	background: url(images/standard/images/vborder.png) repeat-y;
}

.gwt-DecoratorPanel2 .topLeftInner,.gwt-DecoratorPanel2 .topRightInner,.gwt-DecoratorPanel2 .bottomLeftInner,.gwt-DecoratorPanel2 .bottomRightInner
	{
	width: 5px;
	height: 5px;
	zoom: 1;
}

.gwt-DecoratorPanel2 .topLeft {
	background: url(images/standard/images/corner.png) no-repeat 0px 0px;
	-background: url(images/standard/images/corner_ie6.png) no-repeat 0px
		0px;
}

.gwt-DecoratorPanel2 .topRight {
	background: url(images/standard/images/corner.png) no-repeat -5px 0px;
	-background: url(images/standard/images/corner_ie6.png) no-repeat -5px
		0px;
}

.gwt-DecoratorPanel2 .bottomLeft {
	background: url(images/standard/images/corner.png) no-repeat 0px -5px;
	-background: url(images/standard/images/corner_ie6.png) no-repeat 0px
		-5px;
}

.gwt-DecoratorPanel2 .bottomRight {
	background: url(images/standard/images/corner.png) no-repeat -5px -5px;
	-background: url(images/standard/images/corner_ie6.png) no-repeat -5px
		-5px;
}

* html .gwt-DecoratorPanel2 .topLeftInner,* html .gwt-DecoratorPanel2 .topRightInner,* html .gwt-DecoratorPanel2 .bottomLeftInner,* html .gwt-DecoratorPanel2 .bottomRightInner
	{
	width: 5px;
	height: 5px;
	overflow: hidden;
}

.editInDialog {
	color: #ccc;
}

.editInDialog:hover {
	color: #4166CC;
}

.gwt-DialogBox {
	z-index: 15; /* Needed because some parts in confluence uses z-index */
}

.gwt-PopupPanel {
	z-index: 16; /* Needs to be higher than gwt-DialogBox */
}

.warning-dialog {
	z-index: 17; /* Needs to be higher than anything else */
}

.propertyPopup {
	
}

.RelationshipDragEndHandler {
	border: #bbb solid 1px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #F9F9F9;
}

.ColorButtonBox {
	border: #bbb solid 1px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #F9F9F9;
}

.SelectButtonBoxPopup {
	border: #bbb solid 1px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #F9F9F9;
}

textarea.properties-TextArea2 {
	background: transparent;
	outline: none;
	border: none;
	font-family: sans-serif;
	font-size: 12px;
	resize: none;
	line-height: 17px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	border: 1px dashed #bbb;
}

.properties-MeasurementPanel {
	border: 1px solid blue;
	line-height: 17px;
	font-size: 12px;
}

.no-show-focus:FOCUS {
	outline: none;
}

.icon-pen {
	background-image: url("images/icon-pen.png");
	display: inline-block;
	min-width: 15px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 17px;
	height: 15px;
	line-height: 15px;
	vertical-align: middle;
}

.icon-pen-white {
	background-image: url("images/icon-pen-white.png");
	display: inline-block;
	min-width: 15px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 17px;
	height: 15px;
	line-height: 15px;
	vertical-align: middle;
}

.UiContextMenu {
	border: #bbb solid 1px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #959395;
}

.icon-duplicate {
	background-image: url("images/duplicate.png");
	display: inline-block;
	width: 17px;
	height: 14px;
	line-height: 14px;
	vertical-align: middle;
	background-position: 0px 0px;
	background-repeat: no-repeat; *
	margin-right: .3em;
}

.icon-trash {
	background-image: url("images/trash.png");
	display: inline-block;
	width: 17px;
	height: 14px;
	line-height: 14px;
	vertical-align: middle;
	background-position: 0px 0px;
	background-repeat: no-repeat; *
	margin-right: .3em;
	margin-bottom: 3px;
}

.btn-custom,.btn-custom:hover {
	background-color: #8E8E8E;
	background-image: none;
	filter: none;
	color: #fff;
	border-color: none;
	text-shadow: none;
	border: none;
}

.btn-custom:hover,.btn-custom a:hover {
	background-color: #666666;
}

table.selectConnection {
	border-color: #999;
}

td.selectConnection {
	border-right: 1px solid #999;
	height: 30px;
	padding-left: 4px;
	min-width: 50px;
  vertical-align: middle;
}

td.dropButton {
  vertical-align: middle;
}

table.colorSelection {
	border-color: #999;
}

td.colorSelection {
	height: 30px;
	border-right: 1px solid #999;
  vertical-align: middle;
}

[class ^="icon-conn-"],[class *=" icon-conn"] {
	display: inline-block;
	width: 45px;
	height: 18px; *
	margin-right: 0;
	line-height: 18px;
	vertical-align: text-top;
	background-image: url("images/connections-sprite.png");
	background-position: 45px 18px;
	background-repeat: no-repeat;
}

.icon-conn-directed {
	background-position: 0 -36px;
}

.icon-conn-inheritance {
	background-position: 0 -108px;
}

.icon-conn-line {
	background-position: 0 0;
}

.icon-conn-dependency {
	background-position: 0 -72px;
}

.icon-conn-dashedline {
	background-position: 0 -126px;
}

.icon-conn-aggregation {
	background-position: 0 -90px;
}

.icon-conn-aggregationboth {
	background-position: 0 -18px;
}

.icon-conn-reverse {
	background-position: 0 -54px;
}

[class ^="icon-cust-"],[class *=" icon-cust"] {
	display: inline-block;
	width: 18px;
	height: 18px; *
	margin-right: 0;
	line-height: 18px;
	vertical-align: text-top;
	background-image: url("images/drop-sprite.png");
	background-position: 18px 18px;
	background-repeat: no-repeat;
}

.icon-cust-drop-down {
	background-position: 0 0;
}