/** Add css rules here for your application. */
/* sketchboardme-grey.gif, grid.gif, brownbg.gif */
.bodystyle {
    background: url("images/paper-try-out3.gif") repeat center center;

/* 	right: 0; The part that puts the Panel in bottom right of the page/client area */
/* 	bottom: 0; */
}

body {
	/* override gwt clean theme margin */
	margin: 0 !important;
}

.splash {
    position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: url("images/sketchboard.png") no-repeat center center;
}

.scaleSlider {
    position: fixed;
    z-index: 1001 !important;
    left: 10px;
    top: 10px;
}

@-webkit-keyframes glow {
	0% {
		-webkit-box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
		border-color: rgba(0,0,255,0.5);
	}
	100% {
		-webkit-box-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
		border-color: rgba(0,0,255,1.0);
	}
}
@-moz-keyframes glow {
	0% {
		-moz-box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
		border-color: rgba(0,0,255,0.5);
	}
	100% {
		-moz-box-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
		border-color: rgba(0,0,255,1.0);
	}
}
@-ms-keyframes glow {
	0% {
		box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
		border-color: rgba(0,0,255,0.5);
	}
	100% {
		box-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
		border-color: rgba(0,0,255,1.0);
	}
}
@-o-keyframes glow {
	0% {
		box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
		border-color: rgba(0,0,255,0.5);
	}
	100% {
		box-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
		border-color: rgba(0,0,255,1.0);
	}
}
@keyframes glow {
	0% {
		box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
		border-color: rgba(0,0,255,0.5);
	}
	100% {
		box-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
		border-color: rgba(0,0,255,1.0);
	}
}

/*.anim-effect {
    background-color:#cce;
	-webkit-animation-name: glow;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;

	-moz-animation-name: glow;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-moz-animation-timing-function: ease-in-out;

	-ms-animation-name: glow;
	-ms-animation-duration: 1s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-direction: alternate;
	-ms-animation-timing-function: ease-in-out;

	-o-animation-name: glow;
	-o-animation-duration: 1s;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: alternate;
	-o-animation-timing-function: ease-in-out;

	animation-name: glow;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}
*/
.topButtons {
    position: fixed;
    z-index: 1001 !important;
    left: 40px;
    top: 10px;
}

.toolbar {
    width: 100%;
	  background: url("images/paper-try-out3.gif") repeat center center;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-top: 1px solid #bbb;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.ToolFrame-panel {
    position: relative;
    margin-left: -215px;
}

.library {
    overflow-y: scroll;
    z-index: 1010;
		box-shadow: -2px -10px 4px rgba(0, 0, 0, 0.3);
		border-top-left-radius: 4px;    
}

.library-selection {
    position: fixed;
    top: 90px;
    right: -59px;
    width: 150px;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    z-index: 1010 !important;
}

@-moz-document url-prefix() {
    .library-selection {
        right: -60px;
    }
    
	.ToolFrame-panel {
        margin-left: -221px;
    }
}


.toolbar-background {
position: fixed;
bottom: 0;
left: 0;
right: 0;
height: 40px;
z-index: 1001 !important;
/*background: url("images/library-bg.gif") repeat center center;*/
filter:alpha(opacity=50);opacity:0.5;background-color:#333;
visibility: hidden;
}

.library-showhide-area {
  width: 21px;
  position: fixed; /* Or fixed - depends on what you want */
  right: 0;
  top: 0;
  bottom: 40px;
  background: url("images/left-arrow.png") no-repeat center center;
  user-select: none;
  z-index: 1002 !important;
/*background-color: #ECE6E0;*/
/*opacity:0.1;
filter:Alpha(opacity=10)*/
}

.confluenceMenu {
  position: fixed;
  bottom: 7px;
  left: 20px;  
  z-index: 1002 !important;
}

.buttonbar {
  position: fixed; /* Or fixed - depends on what you want */
  bottom: 3px;
  left: 50%;
  margin-left: -115px;
  z-index: 1001 !important;
}

.buttonbar td {
  padding-right: 5px;
}

.ToolFrame {

/*	border-top: solid grey 1px;
	border-right: solid grey 1px;
	border-bottom: solid grey 1px;
	*/
/*  position: absolute;
  right: 20px;
  top: 0;
  bottom: 40px;*/
  /*background: url("images/library-bg.gif") repeat center center;*/
}

.libraryButton-on {
  position: fixed; /* Or fixed - depends on what you want */
  top: 0;
  right: 0;
  bottom: 40px;
  background: url("images/right-arrow.png") no-repeat center center;
  cursor: default;
  z-index: 1001;
}

.libraryButton-on:hover {
  background: #eee url("images/right-arrow.png") no-repeat center center;
}

.libraryButton-off {
  position: fixed; /* Or fixed - depends on what you want */
  right: 0;
  top: 0;
  bottom: 40px;
  background: url("images/left-arrow.png") no-repeat center center;
}

.libraryButton-off:hover {
  background: #eee url("images/left-arrow.png") no-repeat center center;
}

.SketchoBoard {
	position: fixed; /* Or fixed - depends on what you want */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  background: url("images/paper-try-out3.gif") repeat center center;
  z-index: 1000 !important;

/* 	right: 0; The part that puts the Panel in bottom right of the page/client area */
/* 	bottom: 0; */
}

div.UiContent {
position: relative;
/*z-index: 1;*/
}

.modebar {
	height: 100%;
}

.modebar td {
	padding-top: 70px;
	padding-right: 3px;
	padding-left: 3px;
}

.gwt-Button {
	padding: 2px 3px;
	font-size: small;
	cursor: pointer;
	cursor: hand;
	border: 1px outset #ccc;
	white-space: nowrap;
}

.menuArea {
}

.UiEditContent {
}

.UiContent {
/*  background-color: #FCFCFC;
	padding: 15px;
  border: #bbb solid 1px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 4px;
  border-radius: 4px;*/
}

.sd-editor-surface-modeling-area {
	/* 	border: solid grey 1px; #6694e3 */
	
}

textarea {
	background-color: #fff;
	border: 1px solid #bbb;
}

.content-edit-buttons {
	height: 28px;
	padding-left: 0px;
}

.content-edit-buttons td {
}

.debug {
	border: 1px solid black;
	text-align: left;
}

.ModelingPanel {
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
	
	height: 100%;
	z-index: 1001 !important;
}

.sd-editor-surface-modeling-area {
/*	border: solid 1px #bbb; */
}

.properties-TextArea {
	height: 100%;
}

.termsofuse {
  padding: 8px 0 10px 0;
  border: #bbb solid 1px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #F7F7F7;
  text-align: center;
}

/** GWT LAYOUT FIXES **/
.properties-TextArea {
	border: none;
}

.gwt-TextArea {
	border: none;
}

.gwt-DecoratorPanel2 {
	
}

.gwt-DecoratorPanel2 .topCenter,.gwt-DecoratorPanel2 .bottomCenter {
	background: url(images/standard/images/hborder.png) repeat-x;
}

.gwt-DecoratorPanel2 .middleLeft,.gwt-DecoratorPanel2 .middleRight {
	background: url(images/standard/images/vborder.png) repeat-y;
}

.gwt-DecoratorPanel2 .topLeftInner,.gwt-DecoratorPanel2 .topRightInner,.gwt-DecoratorPanel2 .bottomLeftInner,.gwt-DecoratorPanel2 .bottomRightInner
	{
	width: 5px;
	height: 5px;
	zoom: 1;
}

.gwt-DecoratorPanel2 .topLeft {
	background: url(images/standard/images/corner.png) no-repeat 0px 0px;
	-background: url(images/standard/images/corner_ie6.png) no-repeat 0px
		0px;
}

.gwt-DecoratorPanel2 .topRight {
	background: url(images/standard/images/corner.png) no-repeat -5px 0px;
	-background: url(images/standard/images/corner_ie6.png) no-repeat -5px
		0px;
}

.gwt-DecoratorPanel2 .bottomLeft {
	background: url(images/standard/images/corner.png) no-repeat 0px -5px;
	-background: url(images/standard/images/corner_ie6.png) no-repeat 0px
		-5px;
}

.gwt-DecoratorPanel2 .bottomRight {
	background: url(images/standard/images/corner.png) no-repeat -5px -5px;
	-background: url(images/standard/images/corner_ie6.png) no-repeat -5px
		-5px;
}

* html .gwt-DecoratorPanel2 .topLeftInner,* html .gwt-DecoratorPanel2 .topRightInner,* html .gwt-DecoratorPanel2 .bottomLeftInner,* html .gwt-DecoratorPanel2 .bottomRightInner
	{
	width: 5px;
	height: 5px;
	overflow: hidden;
}

.editInDialog {
	color: #ccc;
}

.editInDialog:hover {
  color: #4166CC;
}

.gwt-DialogBox {
  z-index: 1002 !important; /* Needed because some parts in confluence uses z-index */
} 

.gwt-PopupPanel {
  z-index: 1003 !important; /* Needs to be higher than gwt-DialogBox */
}

.warning-dialog {
  z-index: 1004 !important; /* Needs to be higher than anything else */
}


.propertyPopup {
	z-index: 1004 !important;
}

.RelationshipDragEndHandler {
  border: #bbb solid 1px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter:alpha(opacity=80);
  opacity:0.8;
  background-color:#444	;
  z-index: 1003 !important; /* Needs to be higher than gwt-DialogBox */
}

.ColorButtonBox {
  border: #fff solid 1px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #F9F9F9;
  z-index: 1004 !important;
}

.SelectButtonBoxPopup {
  border: #bbb solid 1px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #959395;
  z-index: 1004 !important;
}

.inline-change-connection {
	display: inline-block;
	margin: 0;
	padding: 0;
	line-height: 19px;
	height: 19px;
}

textarea.properties-TextArea2 {
    background: transparent;
	outline: none;
	border: none;
    font-family: sans-serif;
    font-size: 12px;
    resize: none;
    line-height: 17px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    border: 1px dashed #bbb;
}

.properties-TextArea2 textarea {
	z-index: 1002 !important;
}

.properties-MeasurementPanel {
border: 1px solid blue;
line-height: 17px;
font-size: 12px;
padding: 7px 0 14px 0;
margin: 0;
}
.properties-MeasurementPanel h1 {
	font-size: 36px;
	padding: 0;
	margin: 10px 0 7px 0;
	line-height: 38px;
}
.properties-MeasurementPanel h2 {
	font-size: 24px;
	padding: 0;
	margin: 14px 0 4px 0;
	line-height: 26px;
}
.properties-MeasurementPanel h3 {
	font-size: 18px;
	padding: 0;
	margin: 7px 0 0 0;
	line-height: 20px;
}
.properties-MeasurementPanel h4 {
	font-size: 14px;
	padding: 0;
	margin: 8px 0 0 0;
	line-height: 16px;
}
.properties-MeasurementPanel h5 {
	font-size: 12px;
	padding: 0;
	margin: 7px 0 0 0;
	line-height: 14px;
}
.properties-MeasurementPanel h6 {
	font-size: 11px;
	padding: 0;
	margin: 5px 0 0 0;
	line-height: 13px;
}
.properties-MeasurementPanel p {
	padding: 0 8px 0 0;
	margin: 0 0 8px 0;
}

.properties-MeasurementPanel ul.list {
	padding: 0; 
	margin: 4px 0 10px 22px;
}

.properties-MeasurementPanel ul.list-nested {
	padding: 0; 
	margin: 1px 0 2px 22px;
}

.properties-MeasurementPanel li {
	padding: 0;
	margin: 0;
	line-height: 19px;
}

.no-show-focus input:focus {
	outline: 0;
	border: none;
}

.no-show-focus:FOCUS {
	outline: none;
	outline-style: none;
	border: none;
}

.SelectButtonBoxPopup {
}

.btn-delete {
    margin-top: 2px;
    display: inline-block;
    min-width: 26px;
    min-height: 26px;
    text-decoration: none;
}

.btn-delete-enabled {
    background: url("images/btn-delete.png") no-repeat center center;
}

.btn-delete-enabled:hover {
    background: url("images/btn-delete-hover.png") no-repeat center center;
}

.btn-delete-disabled {
    background: url("images/btn-delete-disabled.png") no-repeat center center;
}


.btn-freehand {
    margin-top: 2px;
    display: inline-block;
    min-width: 26px;
    min-height: 26px;
    text-decoration: none;
}

.btn-freehand-enabled {
    background: url("images/btn-freehand.png") no-repeat center center;
}

.btn-freehand-enabled:hover {
    background: url("images/btn-delete-hover.png") no-repeat center center;
}

.btn-freehand-disabled {
    background: url("images/btn-freehand-disabled.png") no-repeat center center;
}

.btn-primary {
/* Override confluence color */
color: #ffffff !important;
}


.UiContextMenu {
  border: #bbb solid 1px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter:alpha(opacity=80);
  opacity:0.8;
  background-color:#444;
  z-index: 1004 !important;
}

.UiContextMenu a {
	color: #eee !important;
}


table.selectConnection {
	border-color: #eee;
}

td.selectConnection {
	border-right: 1px solid #eee;
	height: 30px;
	padding-left: 4px;
	min-width: 50px;
  vertical-align: middle;
}

td.dropButton {
  vertical-align: middle;
  padding: 0 0 2px 4px;
  min-width: 23px;
}

table.colorSelection {
	border-color: #eee;
}

td.colorSelection {
	height: 30px;
	border-right: 1px solid #eee;
  vertical-align: middle;
}

[class^="context-icon-"],
[class*=" context-icon-"] {
	display: inline-block;
	background-image: url(images/appicons-sprite4.png);
	width: 15px;
	height: 15px;
  background-size: cover;
  vertical-align: middle;
}
.context-icon-pen-white2 {
	background-position: 0 75px;
}
.context-icon-duplicate2 {
  background-position: 0 165px;
}
.context-icon-colorize2 {
	background-position: 0 135px;
}
.context-icon-link2 {
	background-position: 0 15px;
}
.context-icon-trash2 {
	background-position: 0 60px;
}
.context-icon-note {
	background-position: 0 150px;
}
.context-icon-add-diagram {
	background-position: 0 105px;
}
.context-icon-pen-white {
	background-position: 0 75px;
}
.context-icon-select {
	background-position: 0 90px;
}
.context-icon-pen {
	background-position: 0 45px;
}
.context-icon-move-back {
	background-position: 0 195px;
}
.context-icon-move-front {
	background-position: 0 210px;
}
.context-icon-move-forward {
	background-position: 0 225px;
}
.context-icon-move-backward {
	background-position: 0 240px;
}
.context-icon-pen-white-lines {
	background-position: 0 255px;
}
.context-icon-my-images {
	background-position: 0 270px;
}
.context-icon-selected {
	background-position: 0 285px;
}
.context-icon-download {
	background-position: 0 300px;
}
.context-icon-upload {
	background-position: 0 315px;
}


[class ^="icon-conn-"],[class *=" icon-conn"] {
  display: inline-block;
  background-image: url(images/relations.png);
  width: 43px;
  height: 18px;
  background-size: cover;
  vertical-align: middle;
}
.icon-conn-directed {
	background-position: 0 0;
}
.icon-conn-directed-both {
	background-position: 0 -18px;
}
.icon-conn-inheritance {
	background-position: 0 -36px;
}
.icon-conn-line {
	background-position: 0 -72px;
}
.icon-conn-dependency {
	background-position: 0 -54px;
}
.icon-conn-dependency-both {
	background-position: 0 -90px;
}
.icon-conn-dashedline {
	background-position: 0 -144px;
}
.icon-conn-aggregation {
	background-position: 0 -126px;
}
.icon-conn-aggregation-filled {
	background-position: 0 -108px;
}
.icon-conn-aggregationboth {
	background-position: 0 -162px;
}
.icon-conn-aggregationboth-filled {
	background-position: 0 -180px;
}
.icon-conn-synch {
	background-position: 0 -198px;
}

[class ^="uml-icon-"],
[class *=" uml-icon-"] {
  display: inline-block;
  background-image: url(images/elements2.png);
  width: 70px;
  height: 28px;
  background-size: cover;
  vertical-align: middle;
}

.uml-icon-note {
	background-position: 0 420px;
}

.uml-icon-class {
	background-position: 0 476px;
}

.uml-icon-package {
	background-position: 0 225px;
}

.uml-icon-actor {
	background-position: 0 448px;
}

.uml-icon-usecase {
	background-position: 0 504px;
}

.uml-icon-elcomments {
	background-position: 0 280px;
}

.uml-icon-start {
	background-position: 0 131px;  /* -9 */ 
	max-height: 10px;
}

.uml-icon-activity {
	background-position: 0 246px; /* -6 */
	max-height: 16px;
}
.uml-icon-choice {
	background-position: 0 358px;
	max-height: 16px;
}
.uml-icon-hfork {
	background-position: 0 19px;
	max-height: 10px;
}
.uml-icon-vfork {
	background-position: 0 50px;
	max-height: 16px;
}
.uml-icon-end {
	background-position: 0 104px;
	max-height: 10px;
}
.uml-icon-sequence {
	background-position: 0 532px;
}
.uml-icon-text {
	background-position: 0 84px;
}
.uml-icon-storage {
	background-position: 0 308px;
}
.uml-icon-centtopic {
	background-position: 0 392px;
}
.uml-icon-maintopic {
	background-position: 0 336px;
}
.uml-icon-subtopic {
	background-position: 0 168px;
}
.uml-icon-comp {
	background-position: 0 560px;	
}
.uml-icon-server {
	background-position: 0 588px;
}
.uml-icon-smiley {
	background-position: 0 616px;
}
.uml-icon-firewall {
	background-position: 0 644px;
}
.uml-icon-polygon5 {
	background-position: 0 672px;
}
.uml-icon-polygon8 {
	background-position: 0 700px;
}
.uml-icon-rect {
	background-position: 0 728px;
}
.uml-icon-triangle {
	background-position: 0 756px;
}
.uml-icon-circle {
	background-position: 0 784px;
}
.uml-icon-cloud {
	background-position: 0 812px;
}
.uml-icon-wbrowser {
	background-position: 0 840px;
}
.uml-icon-iphone {
	background-position: 0 868px;
}
.uml-icon-star5 {
	background-position: 0 896px;
}
.uml-icon-star4 {
	background-position: 0 924px;
}
.uml-icon-arrow-d {
	background-position: 0 952px;
}
.uml-icon-arrow-r {
	background-position: 0 980px;
}
.uml-icon-arrow-u {
	background-position: 0 1008px;
}
.uml-icon-arrow-l {
	background-position: 0 1036px;
}
.uml-icon-bubble-l {
	background-position: 0 1064px;
}
.uml-icon-bubble-r {
	background-position: 0 1092px;
}
.uml-icon-letter {
	background-position: 0 1120px;
}


.icon-cust-drop-down {
	background: url("images/drop-sprite-white.png") no-repeat center center;
	width: 15px;
	height: 15px;
	/*background-image: url(images/drop-sprite-white.png);*/
	background-position: 0 0;
}

[class^="menu-icon-"],
[class*=" menu-icon-"] {
  display: inline-block;
  background-image: url(images/main-menu2.png);
  width: 18px;
  height: 18px;
  background-size: cover;
  vertical-align: middle;
}

.menu-icon-undo {
  background-position: 0 162px;
}
.menu-icon-redo {
  background-position: 0 198px;
}

.library::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.library::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.library::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.library::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4);
}

.color-tabs ul {
margin: 0;
}
.nav > li > a:hover {
    background-color: #cccccc;
    text-decoration: none;
    color: #fff;
    cursor: default;
}

.uml-selection-table tr:HOVER {
	background-color: #666666;
	cursor: pointer;
}

.uml-selection-table td {
	padding: 3px;
	text-align: center;
	line-height: 5px;
}

.uml-selection img {
	width: 100%;
	height: 100%;
}

.uml-hfork {
	margin-top: 2px;
	min-height: 5px;
}

.btn-custom, .btn-custom:hover {
  background-color: transparent;
  background-image: none;
  filter: none;
  color: #fff;
  border-color: none;
  text-shadow: none;
  border: none;
}

.btn-custom:hover, .btn-custom a:hover, .btn-custom-active {
background-color: #666666;
}

.sketchboardme-link {
  color: #4166CC;
}

.sketchboardme-link:HOVER {
  cursor: pointer;
}

.sketchboardme-spinner {
  width: 100px;
  height: 80px;
	background-color: #444;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index: 1004 !important;
}

.sketchboardme-spinner-bg {
  width: 100px;
  height: 75px;
	background: url("images/ajax-loader.gif") no-repeat center center;
}


img.skme-img {
    max-width: 100%;
    max-height: 100%;
}

.dropdown-menu {
	display: inline;
}

.edit-link-title {
	max-width: 364px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}

.edit-link-popover {
	position: relative;
	display: block;
}

.edit-link-popover.bottom div.arrow {
    left: 20px;
}

.popover.bottom .arrow::after {
border-bottom-color: #333;
}

.popover-title {
background-color: #333;
color: #fff;
}
.popover-content {
background-color: #333;
width: auto;
}
.popover {
    background-color: #333;
    max-width: 500px;
    width:auto;
}
.white-text {
  color: #F8F8F2;
}

.white-text a, .white-text a {
  color: #F8F8F2;
}

a.white-text {
  color: #F8F8F2;
}

/* font size START */
.text-size-popup {
	color: #eee;
  background-color:#444;
  filter:alpha(opacity=80);
  opacity:0.8;
  z-index: 1004 !important;
}

.text-sizes {
	padding: 10px 0 10px 0;
}

.text-size-option {
	padding-top: 1px;
	padding-left: 15px;
	min-width: 60px;
	min-height: 18px;
	color: #eee;
}

.text-size-option:hover {
	background-color: #666666;
	cursor: pointer;
}
.current-size {
	padding-top: 6px;
	padding-left: 15px;
	min-height: 24px;
	border-bottom: 1px #eee solid;
}

.block-link {
	display: block;
}

.shape-context-panel {
	display: block;
	height: 120px;
	max-height: 120px;
	min-width: 320px;
	max-width: 320px;
	width: 320px;
	overflow-y: scroll;
	overflow-x: hidden;
}
/* font size END */