<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<bean id="loginService" class="net.sevenscales.server.service.impl.LoginService">
		<property name="userDAO" ref="userDAO" />
		<property name="authenticationManager" ref="authenticationManager" />
 	</bean>
 	
	<bean id="adminService" class="net.sevenscales.server.service.impl.AdminService">
		<property name="userDAO" ref="userDAO" />
	</bean>

	<bean id="pageServiceTarget" class="net.sevenscales.server.service.impl.PageService">
		<property name="pageDAO" ref="pageDAO" />
	</bean>
	
	<bean id="pageService" class="org.springframework.aop.framework.ProxyFactoryBean">
     <property name="proxyInterfaces" value="net.sevenscales.server.service.IPageService"/>
     <property name="interceptorNames">
       <list>
         <idref bean="pageServiceSecurity"/>
         <idref local="pageServiceTarget"/>
       </list>
     </property>
  </bean>
  
	<bean id="projectServiceTarget" class="net.sevenscales.server.service.impl.ProjectService">
		<property name="projectDAO" ref="projectDAO" />
		<property name="mutableAclService" ref="aclService"/>
	  <property name="platformTransactionManager" ref="transactionManager"/>
	</bean>

	<bean id="projectService" class="org.springframework.aop.framework.ProxyFactoryBean">
     <property name="proxyInterfaces" value="net.sevenscales.server.service.IProjectService"/>
     <property name="interceptorNames">
       <list>
         <idref bean="projectServiceSecurity"/>
         <idref local="projectServiceTarget"/>
       </list>
     </property>
  </bean>

	<bean id="ticketService" class="net.sevenscales.server.service.impl.TicketService">
		<property name="ticketDAO" ref="ticketDAO" />
	</bean>	

	<bean id="shareService" class="net.sevenscales.server.service.impl.ShareService">
	</bean>

</beans>