<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<bean id="userDAO" class="net.sevenscales.server.dao.hibernate.UserDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="mutableAclService" ref="aclService"/>
	</bean>

	<bean id="pageDAO" class="net.sevenscales.server.dao.hibernate.PageDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="projectDAO" class="net.sevenscales.server.dao.hibernate.ProjectDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="ticketDAO" class="net.sevenscales.server.dao.hibernate.TicketDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="contentDAO" class="net.sevenscales.server.dao.hibernate.ContentDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
		
   <bean id="labelDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
     <property name="proxyInterfaces" value="net.sevenscales.server.dao.ILabelDAO"/>
     <property name="interceptorNames">
       <list>
         <idref bean="labelSecurity"/>
         <idref local="labelDaoTarget"/>
       </list>
     </property>
   </bean>
		
	<bean id="labelDaoTarget" class="net.sevenscales.server.dao.hibernate.LabelDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="pageDAO" ref="pageDAO"></property>
	</bean>	
</beans>
