<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
  - A simple "base bones" Acegi Security configuration.
  -
  - The sample includes the "popular" features that people tend to use.
  - Specifically, form authentication, remember-me, and anonymous processing.
  - Other features aren't setup, as these can be added later by inserting
  - the relevant XML fragments as specified in the Reference Guide.
  -
  - To assist new users, the filters specified in the FilterChainProxy are
  - declared in the application context in the same order. Collaborators
  - required by those filters are placed at the end of the file.
  -
  - $Id: applicationContext-acegi-security.xml 1987 2007-08-29 12:12:45Z luke_t $
  -->

<beans>

	<bean id="filterChainProxy" class="org.acegisecurity.util.FilterChainProxy">
		<property name="filterInvocationDefinitionSource">
			<value><![CDATA[
				CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
				PATTERN_TYPE_APACHE_ANT
				/**=httpSessionContextIntegrationFilter,basicProcessingFilter,rememberMeProcessingFilter,anonymousProcessingFilter,filterInvocationInterceptor
			]]></value>
		</property>
	</bean>

<!--				/**=httpSessionContextIntegrationFilter,logoutFilter,authenticationProcessingFilter,securityContextHolderAwareRequestFilter,rememberMeProcessingFilter,anonymousProcessingFilter,exceptionTranslationFilter,filterInvocationInterceptor-->

   <!-- ======================== AUTHENTICATION ======================= -->
	<bean id="authenticationManager" class="org.acegisecurity.providers.ProviderManager">
		<property name="providers">
			<list>
				<ref local="daoAuthenticationProvider"/>
				<ref local="anonymousAuthenticationProvider"/>
				<ref local="rememberMeAuthenticationProvider"/>
			</list>
		</property>
	</bean>
	
	<bean id="jdbcDaoImpl" class="org.acegisecurity.userdetails.jdbc.JdbcDaoImpl">
	    <property name="dataSource"><ref bean="dataSource"/></property>
	</bean>
	
	<bean id="passwordEncoder" class="org.acegisecurity.providers.encoding.Md5PasswordEncoder"/>
	  <bean id="daoAuthenticationProvider" class="org.acegisecurity.providers.dao.DaoAuthenticationProvider">
  	  <property name="userDetailsService"><ref local="jdbcDaoImpl"/></property>
<!--      <property name="userCache"><ref local="userCache"/></property> -->
      <property name="passwordEncoder"><ref local="passwordEncoder"/></property>
	</bean>
	
		<!-- This bean is optional; it isn't used by any other bean as it only listens and logs -->
	<bean id="loggerListener" class="org.acegisecurity.event.authentication.LoggerListener"/>
	
	<bean id="basicProcessingFilter" class="org.acegisecurity.ui.basicauth.BasicProcessingFilter">
  	<property name="authenticationManager"><ref local="authenticationManager"/></property>
    <property name="authenticationEntryPoint"><ref local="basicProcessingFilterEntryPoint"/></property>
  </bean>
   
  <bean id="basicProcessingFilterEntryPoint" class="org.acegisecurity.ui.basicauth.BasicProcessingFilterEntryPoint">
  	<property name="realmName"><value>Sketcho Realm</value></property>
  </bean>

	<bean id="anonymousProcessingFilter" class="org.acegisecurity.providers.anonymous.AnonymousProcessingFilter">
		<property name="key" value="vatam"/>
		<property name="userAttribute" value="anonymousUser,ROLE_ANONYMOUS"/>
	</bean>

  <bean id="anonymousAuthenticationProvider" class="org.acegisecurity.providers.anonymous.AnonymousAuthenticationProvider">
  	<property name="key"><value>vatam</value></property>
  </bean>

	<bean id="httpSessionContextIntegrationFilter" class="org.acegisecurity.context.HttpSessionContextIntegrationFilter"/>

   <bean id="rememberMeProcessingFilter" class="org.acegisecurity.ui.rememberme.RememberMeProcessingFilter">
      <property name="authenticationManager"><ref local="authenticationManager"/></property>
      <property name="rememberMeServices"><ref local="rememberMeServices"/></property>
   </bean>
   
   <bean id="rememberMeServices" class="net.sevenscales.server.acegi.GwtTokenBasedRememberMeServices">
		<property name="userDetailsService" ref="jdbcDaoImpl"/>
		<property name="key" value="vatam"/>
	 </bean>
   
   <bean id="rememberMeAuthenticationProvider" class="org.acegisecurity.providers.rememberme.RememberMeAuthenticationProvider">
   	<property name="key"><value>vatam</value></property>
   </bean>

<!-- kala -->

   <!-- ===================== HTTP REQUEST SECURITY ==================== -->
<!--   <bean id="exceptionTranslationFilter" class="org.acegisecurity.ui.ExceptionTranslationFilter">-->
<!--      <property name="authenticationEntryPoint"><ref local="authenticationProcessingFilterEntryPoint"/></property>-->
<!--      <property name="accessDeniedHandler">-->
<!--      	<bean class="org.acegisecurity.ui.AccessDeniedHandlerImpl">-->
<!--      		<property name="errorPage" value="/accessDenied.jsp"/>-->
<!--      	</bean>-->
<!--      </property>-->
<!--   </bean>-->

<!--   <bean id="authenticationProcessingFilter" class="org.acegisecurity.ui.webapp.AuthenticationProcessingFilter">-->
<!--      <property name="authenticationManager"><ref bean="authenticationManager"/></property>-->
<!--      <property name="authenticationFailureUrl"><value>/acegilogin.jsp?login_error=1</value></property>-->
<!--      <property name="defaultTargetUrl"><value>/</value></property>-->
<!--      <property name="filterProcessesUrl"><value>/SilverTest.html</value></property>-->
<!--      <property name="rememberMeServices"><ref local="rememberMeServices"/></property>-->
<!--   </bean>-->


	<bean id="filterInvocationInterceptor" class="org.acegisecurity.intercept.web.FilterSecurityInterceptor">
		<property name="authenticationManager" ref="authenticationManager"/>
		<property name="accessDecisionManager" ref="accessDecisionManager">
		</property>
		<property name="objectDefinitionSource">
			<value><![CDATA[
				CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
				PATTERN_TYPE_APACHE_ANT
				/cometd/**=ROLE_USER
				/**=IS_AUTHENTICATED_ANONYMOUSLY
			]]></value>
		</property>
	</bean>
	
	<bean name="accessDecisionManager" class="org.acegisecurity.vote.AffirmativeBased">
		<property name="allowIfAllAbstainDecisions" value="false"/>
		<property name="decisionVoters">
			<list>
				<bean class="org.acegisecurity.vote.RoleVoter"/>
				<bean class="org.acegisecurity.vote.AuthenticatedVoter"/>
			</list>
		</property>
	</bean>


<!--	<bean id="logoutFilter" class="org.acegisecurity.ui.logout.LogoutFilter">-->
<!--		<constructor-arg value="/index.jsp"/>  URL redirected to after logout -->
<!--		<constructor-arg>-->
<!--			<list>-->
<!--				<ref bean="rememberMeServices"/>-->
<!--				<bean class="org.acegisecurity.ui.logout.SecurityContextLogoutHandler"/>-->
<!--			</list>-->
<!--		</constructor-arg>-->
<!--	</bean>-->

<!--	<bean id="authenticationProcessingFilter" class="org.acegisecurity.ui.webapp.AuthenticationProcessingFilter">-->
<!--		<property name="authenticationManager" ref="authenticationManager"/>-->
<!--		<property name="authenticationFailureUrl" value="/acegilogin.jsp?login_error=1"/>-->
<!--		<property name="defaultTargetUrl" value="/"/>-->
<!--		<property name="filterProcessesUrl" value="/j_acegi_security_check"/>-->
<!--		<property name="rememberMeServices" ref="rememberMeServices"/>-->
<!--	</bean>-->

<!--	<bean id="securityContextHolderAwareRequestFilter" class="org.acegisecurity.wrapper.SecurityContextHolderAwareRequestFilter"/>-->
<!---->
   
<!--   <bean id="securityContextHolderAwareRequestFilter" class="org.acegisecurity.wrapper.SecurityContextHolderAwareRequestFilter"/>-->

	
</beans>