<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
		    <value>classpath:application.properties</value>
		</property>
	</bean>
	
	<!-- Data source -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
				<value>com.mysql.jdbc.Driver</value>
		</property>
        <property name="url">
					<value>jdbc:mysql://localhost:3306/sketcho</value>
        </property>
        <property name="username">
        	<value>root</value>
        </property>
        <property name="password">
        	<value></value>
        </property>
	</bean>
	
	<!-- Hibernate SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="annotatedClasses">
			<list>
				<value>${page.class}</value>
				<value>${project.class}</value>
				<value>${content.class}</value>
				<value>${textcontent.class}</value>
				<value>${textlinecontent.class}</value>
				<value>net.sevenscales.server.domain.LinkContent</value>
				<value>${diagramcontent.class}</value>
				<value>${diagramitem.class}</value>
				<value>${listcontent.class}</value>
				<value>${property.class}</value>
				<value>net.sevenscales.server.domain.PageProperty</value>
				<value>net.sevenscales.server.domain.ContentProperty</value>
				<value>net.sevenscales.server.domain.Label</value>
<!--				<value>${permissions.class}</value>-->
<!--				<value>${ticket.class}</value>-->
				<value>${orderedcontent.class}</value>
				<value>${aclclass.class}</value>
				<value>${aclentry.class}</value>
				<value>${aclobjectidentity.class}</value>
				<value>${aclsid.class}</value>
				<value>${acluser.class}</value>
				<value>${aclauthority.class}</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="dialect">
					org.hibernate.dialect.MySQLInnoDBDialect
				</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
         <prop key="hibernate.hbm2ddl.delimiter">engine=InnoDB</prop>
         <prop key="hibernate.archive.autodetection">class</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<!-- enable the configuration of transactional behavior based on annotations -->
  	<tx:annotation-driven transaction-manager="transactionManager"/>	
	
    <!-- Transaction manager for the Hibernate SessionFactory. --> 
 	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory"/>
		</property>
	</bean>	
</beans>
	
