<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <servlet>
    <servlet-name>storeServlet</servlet-name>
    <servlet-class>net.sevenscales.sketchoconfluenceapp.server.StoreServiceController</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>storeServlet</servlet-name>
    <url-pattern>/sketcho_confluence_app/store</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>contentImageServlet</servlet-name>
    <servlet-class>net.sevenscales.sketchoconfluenceapp.server.ContentImageController</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>contentImageServlet</servlet-name>
    <url-pattern>/resources/contentImage</url-pattern>
  </servlet-mapping>

<!--  <servlet>-->
<!--    <servlet-name>contentServlet</servlet-name>-->
<!--    <servlet-class>net.sevenscales.sketchoconfluenceapp.server.servlet.ContentController</servlet-class>-->
<!--  </servlet>-->
<!--  -->
<!--  <servlet-mapping>-->
<!--    <servlet-name>contentServlet</servlet-name>-->
<!--    <url-pattern>/resources/content</url-pattern>-->
<!--  </servlet-mapping>-->
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Sketcho_confluence_app.html</welcome-file>
  </welcome-file-list>

</web-app>
