<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	
	<!-- hibernate4gwt configuration -->
	<bean id="classMapper" class="net.sf.hibernate4gwt.core.beanlib.mapper.DirectoryClassMapper">
		<property name="rootDomainPackage" value="net.sevenscales.server.domain" />
		<property name="rootClonePackage" value="net.sevenscales.domain.dto" />
		<property name="cloneSuffix" value="DTO"></property>
	</bean>

	<!-- hibernate4gwt configuration -->
	<bean id="hibernateBeanManager"
		  class="net.sf.hibernate4gwt.core.HibernateBeanManager">
		<property name="pojoStore" ref="pojoStore" />
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="classMapper" ref="classMapper"/>
	</bean>
	
<!--    <bean name="openSessionInViewInterceptor"-->
<!--					class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor">-->
<!--				<property name="sessionFactory">-->
<!--					<ref bean="sessionFactory"/>-->
<!--				</property>-->
<!--				<property name="flushMode">-->
<!--					<bean id="org.springframework.orm.hibernate3.HibernateAccessor.FLUSH_AUTO" -->
<!--								class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean"/>-->
<!--				</property>-->
<!--		</bean>-->

   <bean id="loginController" class="net.sevenscales.server.gwt.LoginRemoteImpl">
			<property name="loginService" ref="loginService" />
			<property name="beanManager" ref="hibernateBeanManager" />
			<property name="rememberMeServices" ref="rememberMeServices"></property>
<!--		<property name="authenticationManager" ref="authenticationManager" />-->
   </bean>

   <bean id="adminController" class="net.sevenscales.server.gwt.AdminRemoteImpl">
			<property name="adminService" ref="adminService" />
			<property name="projectRemote" ref="projectController" />
			<property name="beanManager" ref="hibernateBeanManager" />
   </bean>

   <bean id="projectController" class="net.sevenscales.server.gwt.ProjectRemoteImpl">
			<property name="projectService" ref="projectService" />
			<property name="beanManager" ref="hibernateBeanManager" />
   </bean>
   
   <bean id="pageController" class="net.sevenscales.server.gwt.PageRemoteImpl">
			<property name="pageService" ref="pageService" />
			<property name="beanManager" ref="hibernateBeanManager" />
   </bean>

   <bean id="contentController" class="net.sevenscales.server.gwt.ContentRemoteImpl">
			<property name="contentDAO" ref="contentDAO" />
			<property name="beanManager" ref="hibernateBeanManager" />
   </bean>

   <bean id="shareController" class="net.sevenscales.server.gwt.ShareRemoteImpl">
			<property name="shareService" ref="shareService" />
			<property name="beanManager" ref="hibernateBeanManager" />
   </bean>

   <bean id="ticketController" class="net.sevenscales.server.gwt.TicketRemoteImpl">
			<property name="ticketService" ref="ticketService" />
			<property name="beanManager" ref="hibernateBeanManager" />
   </bean>
   
   <bean id="labelController" class="net.sevenscales.server.gwt.LabelRemoteImpl">
			<property name="labelDAO" ref="labelDAO" />
			<property name="beanManager" ref="hibernateBeanManager" />
   </bean>
   

   <bean id="eventListener" class="net.sevenscales.server.comet.ApplicationEventListener">
   </bean>
	
</beans>