<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- Imports the configurations of the different infrastructure systems of the application -->
<!--  <import resource="bayeux-context.xml" />-->
<!--	<import resource="applicationContext-acegi-security.xml" />-->

	    <!-- Maps the request through to a concrete controller instance -->
    <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
<!--		    <property name="interceptors">  -->
<!--					<list>-->
<!--					<ref bean="openSessionInViewInterceptor"/>  -->
<!--					</list>-->
<!--				</property>-->
        <property name="mappings">
        	<props>
        		<prop key="sketcho/login.rpc">loginController</prop>
        		<prop key="sketcho/admin.rpc">adminController</prop>
        		<prop key="sketcho/project.rpc">projectController</prop>
        		<prop key="sketcho/page.rpc">pageController</prop>
        		<prop key="sketcho/content.rpc">contentController</prop>
        		<prop key="sketcho/share.rpc">shareController</prop>
        		<prop key="sketcho/ticket.rpc">ticketController</prop>
        		<prop key="sketcho/label.rpc">labelController</prop>
          </props>
        </property>
    </bean>
    
    <bean id="cometdDemoServlet" 
					class="net.sevenscales.server.comet.CometdDemoServlet"
					init-method="init">
					<property name="eventListener" ref="eventListener" />
    </bean>
    
<!--    <import resource="applicationContext-GWT.xml" />-->
    
</beans>