<?xml version="1.0" encoding="UTF-8"?>
<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>TestApp.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>project.rpc</servlet-name>
    <servlet-class>net.st.shareddesign.server.gwt.ProjectRemoteImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>project.rpc</servlet-name>
    <url-pattern>/sketcho/project.rpc</url-pattern>
  </servlet-mapping>

</web-app>